@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
}

button {
    @apply px-4 py-2 bg-indigo-500 text-white rounded hover:bg-indigo-600 transition-colors duration-300 ease-in-out;
}
